In [1]:
2+3

5

In [2]:
num = 2+3

In [3]:
num

5

In [4]:
number = 5+2

# Legal Variable

* letter, underscore, number
* number can not come at the beginning

In [5]:
my name = "Waqas"

SyntaxError: invalid syntax (<ipython-input-5-7fee2edc69c6>, line 1)

In [6]:
my_name1 = "Waqas"

In [7]:
1st_name = "Waqas"

SyntaxError: invalid syntax (<ipython-input-7-883b6b13d17a>, line 1)

In [8]:
my-name = "Waqas"

SyntaxError: can't assign to operator (<ipython-input-8-afe1f56ba564>, line 1)

In [9]:
position = "1st"

SyntaxError: invalid syntax (<ipython-input-9-47256caf64d5>, line 1)

In [10]:
dollar_notation = "$2.33"

In [11]:
class2 = 'python'

In [12]:
my_num = "23"

In [13]:
string = " "

In [14]:
type(string)

str

In [15]:
print(type(num))

<class 'int'>

In [16]:
decimal = 2.3
type(decimal)

float

In [18]:
num + 2.3

7.3

In [19]:
num

5

In [21]:
num = num + 2.3 # = is an assignment operator
num

9.6

In [22]:
num = num + "2.3" # "9.62.3"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [23]:
num += 2.3   # num = num + 2.3

In [30]:
num

11.899999999999999

In [29]:
round(11.923478, 4)

11.9235

In [33]:
"Muhammad "+ my_name1

'Muhammad Waqas'

In [34]:
"Muhammad"+" "+ my_name1

'Muhammad Waqas'

In [35]:
print("Muhammad"+ my_name1)

MuhammadWaqas

In [37]:
"Muhammad"+" " my_name1

SyntaxError: invalid syntax (<ipython-input-37-3eda0f7db250>, line 1)

In [38]:
num = str(num) + "2.3"
num

'11.8999999999999992.3'

In [42]:
num = 11.9 + int(float("2.3")) # this is called type casting

In [43]:
num

13.9

In [44]:
int("waqas")

ValueError: invalid literal for int() with base 10: 'waqas'

In [45]:
float(2)

2.0

In [46]:
n = 5%2 # Modulo (%) gives you remainder

In [47]:
n

1

In [48]:
a = 6%2

In [49]:
a

0

In [50]:
rem = 8%3
rem

2

In [51]:
floor_div = 5//2 # floor division //
floor_div

2

In [52]:
3%8

3

In [56]:
floor1000 = 4//2
floor1000

2