In [1]:
name1 = "Ali Raza"
name2 = "Bilal"
name3 = "Amir"

In [2]:
marks1 = 93.5
marks2 = 96
marks3 = 45.5

In [3]:
names = ["Bilal", "Amir", "Bilal", "Hamza"]
names

['Bilal', 'Amir', 'Bilal', 'Hamza']

In [4]:
type(name1)

str

In [5]:
type(names)

list

In [6]:
print(type(names))

<class 'list'>

In [7]:
marks = [92, 95, 98, 50, 40, 60]

In [8]:
print(names)

['Bilal', 'Amir', 'Bilal', 'Hamza']




        0       1        2        3            399
    ['Bilal', 'Amir', 'Bilal', 'Hamza', .... "Ali"]

In [9]:
names[0]

'Bilal'

In [10]:
names[3]

'Hamza'

In [11]:
names[4]

IndexError: list index out of range

In [12]:
names[0]

'Bilal'

In [13]:
marks

[92, 95, 98, 50, 40, 60]

In [14]:
marks[0]

92

In [18]:
msg = names[0] + " secured " + str(marks[0]) + " marks"
print(msg)

Bilal secured 92 marks

In [19]:
msg = names[1] + " secured " + str(marks[1]) + " marks"
print(msg)

Amir secured 95 marks

In [21]:
names

['Bilal', 'Amir', 'Bilal', 'Hamza']

['Bilal', 'Amir', 'Bilal', 'Hamza', "Nasir"]

In [22]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']