In [1]:
data = ['Yasir Shah', 22, 300000, 'Male', 'A.I']

In [3]:
newData = [['Saad', 27, 'Male'], ['Yasir', 22, 'Male'], ['Nasir', 29, 'Male'], ['Sajid', 35, 'Male']]

## Retrive data from n-dimensional list

In [8]:
for listItem in newData:
    print("*" * 30)
    print(listItem)
    for value in listItem:
        print(value)

******************************
['Saad', 27, 'Male']
Saad
27
Male
******************************
['Yasir', 22, 'Male']
Yasir
22
Male
******************************
['Nasir', 29, 'Male']
Nasir
29
Male
******************************
['Sajid', 35, 'Male']
Sajid
35
Male

0
1
2
3
4
5
6
7
8
9

In [9]:
myList = [1,2,4,5]

### Tuples

In [10]:
data = (1,2,3,4)

In [12]:
data[0]

1

In [13]:
studentData = ("Ali", 35, 98.4)

In [14]:
studentData.insert(5)

AttributeError: 'tuple' object has no attribute 'insert'

In [15]:
myList

[1, 2, 4, 5]

In [16]:
myList[2] = 8
myList

[1, 2, 8, 5]

In [17]:
newData

[['Saad', 27, 'Male'],
 ['Yasir', 22, 'Male'],
 ['Nasir', 29, 'Male'],
 ['Sajid', 35, 'Male']]

In [21]:
newData[1][0] = "Ali"

In [22]:
newData

[['Saad', 27, 'Male'],
 ['Ali', 22, 'Male'],
 ['Nasir', 29, 'Male'],
 ['Sajid', 35, 'Male']]

In [25]:
newData[3][1] = 65

In [29]:
age = input("Enter your age:")

Enter your age:15

In [31]:
type(age)

str

In [32]:
studentForm = []

In [38]:
x = input("How many values you want to enter")
x = int(x)


for i in range(x):
    name = input("Enter your name: ")
    className = input("Enter class name: ")
    studentForm.append([name, className])

How many values you want to enter2
Enter your name: Zafar
Enter class name: BS
Enter your name: Umair
Enter class name: BS

In [39]:
studentForm

[['Ali', 'BS'], ['Nasir', 'BS'], ['Zafar', 'BS'], ['Umair', 'BS']]

In [40]:
studentForm.clear()

In [41]:
studentForm

[]

In [43]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [46]:
num = 21
list(range(1, num))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [47]:
list(range(1, 21, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [50]:
for value in list(range(5, 21, 3)):
    print(value)

5
8
11
14
17
20

In [51]:
tup = 1,2
type(tup)

tuple

In [52]:
t = (["Waqas", "Faizan"], "9 to 12", "Batch 4")
t

(['Waqas', 'Faizan'], '9 to 12', 'Batch 4')

In [54]:
t[0][0] = "Khurram"

In [55]:
t

(['Khurram', 'Faizan'], '9 to 12', 'Batch 4')

In [58]:
# 2x1 = 2 3x1 = 3
# 2x2 = 4 3x2 = 6

print("Waqas","Faizan",end = "\t")
print("Faizan")

Waqas Faizan	Faizan

## Using split function

In [1]:
hobbies = input("Enter your hobbies: ")

Enter your hobbies: gaming,reading,travelling

In [3]:
hobbies.split(",")

['gaming', 'reading', 'travelling']