In [8]:
employee1 =['Waqas', 27, 'Male', 350000]
len(employee1)

4

Dictionary is a key value pair

In [4]:
employee = {"employee_Name": "Waqas","age": 27,
            "gender":"Male", "Salary":350000}

In [6]:
print(type(employee))

<class 'dict'>

In [10]:
employee1[0]

'Waqas'

In [11]:
employee

{'employee_Name': 'Waqas', 'age': 27, 'gender': 'Male', 'Salary': 350000}

In [12]:
employee['age']

27

In [14]:
employee1[0] = "Muhammad Waqas"

In [15]:
employee1

['Muhammad Waqas', 27, 'Male', 350000]

In [16]:
employee['employee_Name'] = "Muhammad Waqas"

In [17]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 0: 'Muhammad Waqas'}

In [18]:
del employee[0]

In [19]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000}

In [20]:
del employee[0]

KeyError: 0

In [30]:
employee["Department"] = ["Finance", "D.S"]

In [31]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'Department': ['Finance', 'D.S']}

In [32]:
employee['Department']

['Finance', 'D.S']

In [33]:
employee["subordinate"] = {"Fin":"Shazad", "D.S": "Noman"}

In [34]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'Department': ['Finance', 'D.S'],
 'subordinate': {'Fin': 'Shazad', 'D.S': 'Noman'}}

In [35]:
employee[['Finance', 'D.S']] = 2

TypeError: unhashable type: 'list'

In [36]:
employee[{'Fin': 'Shazad', 'D.S': 'Noman'}] = "2 Employess"

TypeError: unhashable type: 'dict'

In [37]:
employee[(1,2)] = 7

In [38]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'Department': ['Finance', 'D.S'],
 'subordinate': {'Fin': 'Shazad', 'D.S': 'Noman'},
 (1, 2): 7}

In [40]:
del employee[(1, 2)]

In [41]:
employee

{'employee_Name': 'Muhammad Waqas',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'Department': ['Finance', 'D.S'],
 'subordinate': {'Fin': 'Shazad', 'D.S': 'Noman'}}

In [43]:
employee_2 = {'employee_Name': 'Rizwan',
 'age': 23,
 'gender': 'Male',
 'Salary': 350000,
 'Department': ['A.I', 'D.S'],
 'subordinate': {'Fin': 'Ali', 'D.S': 'Fahad'}}

In [44]:
employees = [employee]
employees

[{'employee_Name': 'Muhammad Waqas',
  'age': 27,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['Finance', 'D.S'],
  'subordinate': {'Fin': 'Shazad', 'D.S': 'Noman'}}]

In [45]:
employees.append(employee_2)

In [46]:
employees

[{'employee_Name': 'Muhammad Waqas',
  'age': 27,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['Finance', 'D.S'],
  'subordinate': {'Fin': 'Shazad', 'D.S': 'Noman'}},
 {'employee_Name': 'Rizwan',
  'age': 23,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['A.I', 'D.S'],
  'subordinate': {'Fin': 'Ali', 'D.S': 'Fahad'}}]

In [48]:
employees[1]

{'employee_Name': 'Rizwan',
 'age': 23,
 'gender': 'Male',
 'Salary': 350000,
 'Department': ['A.I', 'D.S'],
 'subordinate': {'Fin': 'Ali', 'D.S': 'Fahad'}}

In [49]:
employees[0]['Department'][1]

'D.S'

In [50]:
employee_2

{'employee_Name': 'Rizwan',
 'age': 23,
 'gender': 'Male',
 'Salary': 350000,
 'Department': ['A.I', 'D.S'],
 'subordinate': {'Fin': 'Ali', 'D.S': 'Fahad'}}

In [51]:
employee1

['Muhammad Waqas', 27, 'Male', 350000]

In [52]:
for j in employee1:
    print(j)

Muhammad Waqas
27
Male
350000

In [53]:
employee_2

{'employee_Name': 'Rizwan',
 'age': 23,
 'gender': 'Male',
 'Salary': 350000,
 'Department': ['A.I', 'D.S'],
 'subordinate': {'Fin': 'Ali', 'D.S': 'Fahad'}}

In [57]:
for key in employee_2:
    print(key,employee_2[key])

employee_Name Rizwan
age 23
gender Male
Salary 350000
Department ['A.I', 'D.S']
subordinate {'Fin': 'Ali', 'D.S': 'Fahad'}

In [56]:
print("Waqas", "Ali")

Waqas Ali

In [58]:
for key in employee_2.keys():
    print(key)

employee_Name
age
gender
Salary
Department
subordinate

In [60]:
for value in employee_2.values():
    print(value)

Rizwan
23
Male
350000
['A.I', 'D.S']
{'Fin': 'Ali', 'D.S': 'Fahad'}

In [62]:
for i,j in employee_2.items():
    print(i,j)

employee_Name Rizwan
age 23
gender Male
Salary 350000
Department ['A.I', 'D.S']
subordinate {'Fin': 'Ali', 'D.S': 'Fahad'}

In [69]:
a,b,c,d = 1,2,3,4

In [70]:
a

1

In [65]:
b

2

In [71]:
employees

[{'employee_Name': 'Muhammad Waqas',
  'age': 27,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['Finance', 'D.S'],
  'subordinate': {'Fin': 'Shazad', 'D.S': 'Noman'}},
 {'employee_Name': 'Rizwan',
  'age': 23,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['A.I', 'D.S'],
  'subordinate': {'Fin': 'Ali', 'D.S': 'Fahad'}}]

In [73]:
employees[1]['subordinate']['D.S']

'Fahad'

In [74]:
employees[0]['Department'].append("A.I")

In [75]:
employees

[{'employee_Name': 'Muhammad Waqas',
  'age': 27,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['Finance', 'D.S', 'A.I'],
  'subordinate': {'Fin': 'Shazad', 'D.S': 'Noman'}},
 {'employee_Name': 'Rizwan',
  'age': 23,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['A.I', 'D.S'],
  'subordinate': {'Fin': 'Ali', 'D.S': 'Fahad'}}]

In [76]:
employees[0]['employee_Name'] = "Khurram"

In [77]:
employees

[{'employee_Name': 'Khurram',
  'age': 27,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['Finance', 'D.S', 'A.I'],
  'subordinate': {'Fin': 'Shazad', 'D.S': 'Noman'}},
 {'employee_Name': 'Rizwan',
  'age': 23,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['A.I', 'D.S'],
  'subordinate': {'Fin': 'Ali', 'D.S': 'Fahad'}}]

In [78]:
employee

{'employee_Name': 'Khurram',
 'age': 27,
 'gender': 'Male',
 'Salary': 350000,
 'Department': ['Finance', 'D.S', 'A.I'],
 'subordinate': {'Fin': 'Shazad', 'D.S': 'Noman'}}

In [79]:
employee_2

{'employee_Name': 'Rizwan',
 'age': 23,
 'gender': 'Male',
 'Salary': 350000,
 'Department': ['A.I', 'D.S'],
 'subordinate': {'Fin': 'Ali', 'D.S': 'Fahad'}}

In [80]:
employees

[{'employee_Name': 'Khurram',
  'age': 27,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['Finance', 'D.S', 'A.I'],
  'subordinate': {'Fin': 'Shazad', 'D.S': 'Noman'}},
 {'employee_Name': 'Rizwan',
  'age': 23,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['A.I', 'D.S'],
  'subordinate': {'Fin': 'Ali', 'D.S': 'Fahad'}}]

In [81]:
sorry = {"employee1" : employee, "employee2":employee_2}
sorry

{'employee1': {'employee_Name': 'Khurram',
  'age': 27,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['Finance', 'D.S', 'A.I'],
  'subordinate': {'Fin': 'Shazad', 'D.S': 'Noman'}},
 'employee2': {'employee_Name': 'Rizwan',
  'age': 23,
  'gender': 'Male',
  'Salary': 350000,
  'Department': ['A.I', 'D.S'],
  'subordinate': {'Fin': 'Ali', 'D.S': 'Fahad'}}}